.box {
  border: 1px solid black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.square {
  border-radius: 0px;
}

.soft {
  border-radius: 30px;
}

.hard {
  border-radius: 9999px;
}

.small {
  width: 100px;
  height: 100px;/
}

.medium {
  width: 200px;
  height: 200px;
}

.large {
  width: 300px;
  height: 300px;
}
